/*################    GENERAL CSS    ###############*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root {
  --black: #2c2c54;
  --orange: #ff9f1a;
  --grey: #d4d3d3;
  --lightgrey: rgb(247, 245, 245);
}
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: -6rem;
  scroll-behavior: smooth;
}
.heading {
  font-size: 3em;
  margin: 20px;
  text-align: center;
  font-weight: 700;
}
.heading span {
  color: var(--orange);
}
.stars i {
  color: var(--orange);
  font-size: 1.2em;
  margin-bottom: 10px;
}
.cart {
  border: 1.5px solid var(--black);
  border-radius: 3px;
  width: 100px;
  text-align: center;
  padding: 1% 2%;
  margin: 5px 0;
  font-size: 1.2em;
  font-weight: 600;
  background-color: #ffffff;
}
.cart:hover {
  background-color: #fccb61;
}
.price {
  font-weight: 700;
  margin: 5px 0;
}
.price span {
  font-size: 0.7em;
  text-decoration: line-through;
  color: var(--orange);
  font-weight: 700;
}
/*################    NAVBAR    ###############*/
#menu-bar {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--black);
  color: var(--black);
  border-radius: 0.3rem;
  cursor: pointer;
  display: none;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  padding: 1.8rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
header .logo {
  font-size: 2rem;
  color: var(--black);
}
header .navbar a {
  font-size: 1.4rem;
  color: var(--black);
  margin: 0 1rem;
}
header .icons a {
  font-size: 2rem;
  color: var(--black);
  margin-left: 1.5rem;
}
header .navbar a:hover {
  color: var(--orange);
  text-decoration: underline;
}
header .navbar a:hover,
header .icons a:hover {
  color: var(--orange);
}
/*################    HOME SECTION    ###############*/
.home {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8%;
}
.home .home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  flex: 1 1 520px;
  margin-bottom: 50px;
  padding: 1em 4em 1em 4em;
}
.home .home-image {
  flex: 1 1 520px;
  margin-bottom: 50px;
  position: relative;
}
.home-images-container {
  width: 80%;
  margin: 0 auto;
}
.home .home-image .home-shoe {
  position: absolute;
  width: 80%;
  z-index: 10;
}
.home .home-image .home-shoe-text {
  width: 100%;
}
.home .home-text .p-head {
  font-size: 2.2em;
  color: var(--orange);
}
.home .home-text h1 {
  font-size: 4em;
  color: var(--black);
  margin-bottom: 10px;
}
.home .home-text .p-des {
  font-size: 1.3em;
  color: var(--black);
  margin-bottom: 20px;
}
.home .home-text .home-cart {
  width: 120px;
  padding: 1em 0;
  border: 2px solid var(--black);
}
/*################    SERVICES SECTION    ###############*/
.services {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 1em 2em;
  border: 2px solid var(--grey);
  margin: 0 auto;
  margin-bottom: 50px;
  justify-content: space-around;
  border-radius: 10px;
  background-color: var(--lightgrey);
}
.services .service {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  text-align: center;
  margin: 15px 0;
}
.services .service i {
  font-size: 3em;
  color: var(--orange);
}
.services .service h2 {
  font-size: 2em;
  color: var(--black);
  margin: 10px 0;
}
.services .service p {
  font-size: 1.2em;
  color: var(--black);
  margin-bottom: 10px;
}
/*################    LATEST PRODUCT SECTION    ###############*/
.latest {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 2.5em;
  margin-top: 30px;
  margin-bottom: 50px;
}
.latest .latest-product {
  width: 320px;
  border: 2px solid var(--grey);
  border-radius: 5px;
  background-color: var(--lightgrey);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 250px;
  padding: 2em 0;
}
.latest-product img {
  margin: 50px 30px;
}
.latest-product h2 {
  margin: 10px 0;
  font-size: 2.5em;
}
.latest-product .shoe-price {
  margin: 10px 0;
  font-size: 1.5em;
}
.latest-product .shoe-cart {
  padding: 0.8em;
}
/*################    PRODUCT SECTION    ###############*/
.product .shoe-sec {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  border: 2px solid var(--grey);
  padding: 2.5em 2em;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: var(--lightgrey);
}
.product .shoe-sec .sec-left-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 30em;
  width: 50%;
}
.product .shoe-sec .sec-left-container .display-shoe img {
  width: 80%;
  margin-left: 30px;
}
.product .shoe-sec .detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.price {
  font-weight: 700;
  margin: 5px 0;
}
.price span {
  font-size: 0.7em;
  text-decoration: line-through;
  color: var(--orange);
  font-weight: 700;
}
.product .shoe-sec .shoe-images img {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--grey);
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.product .shoe-sec .shoe-images img:hover {
  background-color: var(--grey);
}
.product .shoe-sec .detail .shoe-name {
  color: var(--black);
  font-size: 2em;
}
.product .shoe-sec .detail .shoe-name {
  color: var(--black);
  font-size: 2em;
}
.product .shoe-sec .detail .price {
  color: var(--black);
  font-size: 1.5em;
}
/*#################    PROFILES    ################*/
.profiles {
  margin-bottom: 40px;
}
.profiles .profile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  width: 80%;
  margin: 0 auto;
}
.profiles .profile-container .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--grey);
  border-radius: 5px;
  width: 300px;
  padding: 2em 3em;
  background-color: var(--lightgrey);
  flex: 1 1 320px;
}
.profile img {
  border-radius: 50px;
}
.profile h2 {
  color: var(--black);
  margin: 5px 0;
}
.profile p {
  color: var(--black);
  margin: 5px 0;
  text-align: center;
}
/*#################    NEWS LETTER SECTION    ################*/
.news {
  width: 80%;
  border: 2px solid var(--grey);
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 5px;
  align-items: center;
  padding: 2em 3em;
  background-color: var(--lightgrey);
}
.news .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.news .form h2 {
  font-size: 2.5em;
}
.news .form p {
  text-align: center;
  margin: 5px 0 10px 0;
}
.news .form .inputs .email {
  border: 2px solid var(--black);
  padding: 0.3em 0.6em;
  width: 250px;
}
.news .form .inputs .submit {
  border: 2px solid var(--black);
  width: 60px;
  padding: 0.3em 0.6em;
}
/*#################    FOOTER    ################*/
.footer {
  width: 80%;
  border: 2px solid var(--grey);
  margin: 0 auto;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em 3em;
  background-color: var(--lightgrey);
}
.footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 220px;
  margin-bottom: 20px;
}
.footer .footer-container h2 {
  font-size: 2.2em;
  margin-bottom: 10px;
}
.footer .footer-container a {
  font-size: 1.3em;
  margin-bottom: 10px;
  color: var(--black);
}
.footer .footer-container a:hover {
  color: var(--orange);
  text-decoration: underline;
}
/*#################    MEDIA QUERIES    ################*/
@media (max-width: 768px) {
  #menu-bar {
    display: block;
  }

  header .navbar {
    display: none;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 2rem;
  }
}
